@import url('./vars.css');


/* Общие стили для хедера */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: transparent;
    margin-bottom: -100px;
    position: relative;
    z-index: 10;
    /* background-color: #f8f9fa; */
  }

  .head .head-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 1140px; */
    margin: 0 auto;
  }

  
  /* Стили для логотипа */
  .head .logo a {
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: var(--logo-text-color);
    /* color: #333; */
    display: flex;
    align-items: center;

  }
  
  .head .logo a img{
    width: 80px;
    margin-right: 20px;
  }

  /* Стили для навигационного меню */
  .head nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .head nav ul li {
    margin-left: 25px;
  }
  
  .head nav ul li a {
    text-decoration: none;
    color: var(--menu-link-color);
    font-size: 18px;
    text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.5);
  }
  
  .head nav ul li a.active {
    font-weight: bold;
  }
  
  /* Стили для бургер-меню на планшетной и мобильной версии */
  @media (max-width: 991.98px) {
    
    .head .logo {
      flex: 1;
    }
  
    .head nav {
      flex: 2;
      display: flex;
      justify-content: flex-end;
    }
  
    .head nav ul {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f8f9fa;
      width: 100%;
      height: 100%; /* Занимаем всю высоту экрана */
      padding: 20px;
      display: none;
      z-index: 1; /* Поднимаем меню над всеми элементами на странице */
    }
  
    .head nav ul.open {
      display: flex;
      animation: fadeInMenu 0.5s forwards; /* Добавляем анимацию появления меню */
    }
  
    .head nav ul li {
      margin: 10px 0;
      opacity: 0; /* Устанавливаем прозрачность 0 для анимации появления */
      animation: fadeInListItem 0.5s forwards; /* Добавляем анимацию появления пунктов меню */
    }
  
    .head nav ul li:nth-child(1) {
      animation-delay: 0.1s; /* Задаем задержку для появления первого пункта */
    }
  
    .head nav ul li:nth-child(2) {
      animation-delay: 0.15s; /* Задаем задержку для появления второго пункта */
    }
  
    .head nav ul li:nth-child(3) {
      animation-delay: 0.2s; /* Задаем задержку для появления третьего пункта */
    }
    .head nav ul li:nth-child(4) {
      animation-delay: 0.25s; /* Задаем задержку для появления третьего пункта */
    }    
    .head nav ul li:nth-child(5) {
      animation-delay: 0.3s; /* Задаем задержку для появления третьего пункта */
    }   
    .head nav ul li:nth-child(6) {
      animation-delay: 0.35s; /* Задаем задержку для появления третьего пункта */
    }
    /* Иконка для бургер-меню */
    .burger span::before,
    .burger span::after {
      content: '';
      display: block;
      width: 25px;
      height: 3px;
      background-color: var(--menu-link-color);
      position: absolute;
      right: 0;
      transition: transform 0.3s ease;
    }
    .burger span{
      position: relative;
      z-index: 5;
    }
  
    .burger span::before {
      top: 5px;
    }
  
    .burger span::after {
      bottom: 5px;
    }
  
    /* Стили для активного бургер-меню (когда меню открыто) */
    .burger.open span {
      transform: rotate(45deg);
    }
  
    .burger.open span::before {
      top: 0;
      transform: rotate(-45deg);
      background-color: var(--main-color);
    }
  
    .burger.open span::after {
      top: 0;
      transform: rotate(45deg);
      background-color: var(--main-color);

    }

    .head{
      padding: 5px 10px;
    }

    .head nav ul {
      height: 100vh;
      align-items: center;
      justify-content: center;
    }

    .head nav ul li a{
      color: var(--button-color);
      font-size: 24px;
      line-height: 2;
      
    }
  }
  
  /* Анимация появления пунктов меню */
  @keyframes fadeInListItem {
    to {
      opacity: 1;
    }
  }
  
  /* Анимация появления меню */
  @keyframes fadeInMenu {
    to {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {

  }