@import url('https://brendum.ru/files/fonts/gilroy/font.css');
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) {display: none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;} body {line-height: 1;} ol, ul {list-style: none;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;} table {border-collapse: collapse;	border-spacing: 0;}
::-webkit-scrollbar {width: 0px; background: transparent;}
html {-ms-overflow-style: none; scrollbar-width: none;}
:focus {outline: none !important;}
::-moz-focus-inner {border: 0px !important;}
input, button { -webkit-appearance: none;}
* {-webkit-transition: all 0.9s ease; -moz-transition: all 0.9s ease; -o-transition: all 0.9s ease; transition: all 0.9s ease;}
strong {font-family: 'bold', sans-serif;}

body {position: relative; padding: 0; margin: 0; height: 100%; width: 100%; color: #252525; font-family: 'medium', sans-serif;font-style: normal; line-height: 150%;}


@media (min-width: 801px) and (max-width: 5000px) {

body {font-size: 1.1vw; line-height: 1;}

header {position: fixed; width: 100vw; height: 5vw; background: transparent; z-index: 100;}
header.small {background: #fff; height: 3.5vw;}
header .logo {position: relative; float: left; margin: 2.5vw; width: auto; font-size: 200%; font-family: 'black', sans-serif;}
header.small .logo {margin: 0.5vw 0 0 2.5vw;}
header .logo a {color: #C0392B; text-decoration: none;}
header .logo a span {color: #252525;}
header .logo a:hover {color: #252525;}
header .logo a:hover span {color: #C0392B;}
header nav {position: relative; float: right; margin: 2.5vw;}
header.small nav {margin: 0.5vw 2.5vw 0 0;}
header nav .burger {display: none;}
header nav .nav_list {width: 100%; display: flex;}
header nav ul.nav_list {position: relative; overflow: hidden;}
header nav ul.nav_list li {position: relative; margin: 0 3vw 0 0;}
header nav ul.nav_list li:nth-child(7) {margin: 0 0 0 2vw;}
header nav ul.nav_list li:nth-child(7) a {color: #C0392B;}
header nav ul.nav_list li a {color: #252525; text-decoration: none; font-family: 'medium', sans-serif; line-height: 2;}
header nav ul.nav_list li a.active {color: #C0392B;}
header nav ul.nav_list li a:hover {color: #C0392B;}
header nav ul.nav_list li.mobile {display: none;}


#home_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#home_1 .img {position: absolute; top: 7.5vw; right: 10vw; width: 30vw; line-height: 0; z-index: 1;}
#home_1 .img img {width: 100%;}
#home_1 .img:nth-child(2) {position: absolute; top: 32.5vw; left: 7.5vw; width: 10vw; line-height: 0; z-index: 1;}
#home_1 .img img:nth-child(2) {width: 100%;}
#home_1 .content {position: relative; width: 60vw; margin: 0 25vw 0 15vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#home_1 .content h1 {padding: 5vw 15vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#home_1 .content .text {padding: 0 20vw 3.5vw 5vw; line-height: 1.5;}
#home_1 .content .btn {position: relative; margin: 0 0 5vw 5vw; display: inline-block;}
#home_1 .content .btn a {padding: 1vw 3vw; border-radius: 5vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#home_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}


#home_2 {position: relative; width: 100vw; height: auto; padding: 10vw 0;}
#home_2 .content {position: relative; width: 60vw; margin: 0 20vw;}
#home_2 .content h2 {position: relative; padding: 0 0 2vw 0; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#home_2 .content h2:before {position: absolute; content: 'About us'; margin: -5vw 0 0 -22vw; text-transform: uppercase; font-size: 500%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 105vw;}
#home_2 .content ul {position: relative; z-index: 1; padding: 0; line-height: 1.5; overflow: hidden;}
#home_2 .content ul li {position: relative; float: left; width: 27.5vw; margin: 0 5vw 0 0;}
#home_2 .content ul li:last-child {margin: 0;}


#home_3 {position: relative; width: 100vw; height: auto; padding: 0;}
#home_3 .img {position: absolute; top: 7.5vw; right: 10vw; width: 30vw; line-height: 0; z-index: 1;}
#home_3 .img img {width: 100%;}
#home_3 .content {position: relative; width: 70vw; margin: 0 25vw 0 0; background: linear-gradient(180deg, #91BF2E, #4C903C); border-radius: 0 2vw 2vw 0; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#home_3 .content h2 {padding: 5vw 15vw 2vw 20vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #4C903C;}
#home_3 .content .btn {position: relative; margin: 4vw 0 5vw 20vw; display: inline-block;}
#home_3 .content .btn a {padding: 1vw 3vw; border-radius: 5vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#home_3 .content .btn a:hover {background: #91BF2E; color: #fff;}
#home_3 .content ul {position: relative; z-index: 1; margin: 0 0 0 20vw; padding: 0; line-height: 1.5; overflow: hidden;}
#home_3 .content ul li {position: relative; float: left; width: auto; margin: 0 5vw 0 0;}
#home_3 .content ul li:last-child {margin: 0;}
#home_3 .content ul li .img {position: relative; width: 3vw; line-height: 0; margin: 1vw 0 1vw 0; padding: 0; right: 0; top: 0;}
#home_3 .content ul li .img img {width: 100%;}


#home_4 {position: relative; width: 100vw; height: auto; padding: 10vw 0 5vw 0;}
#home_4 .content {position: relative; width: 100vw; margin: 0;}
#home_4 .content h2 {position: relative; padding: 0 0 2vw 20vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#home_4 .content h2:before {position: absolute; content: 'Testimonials'; margin: -5vw 0 0 -22vw; text-transform: uppercase; font-size: 500%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 105vw;}
#home_4 .content ul {position: relative; z-index: 1; margin: 0 0 -5vw 0; padding: 0 0 5vw 0; line-height: 1.5; overflow: hidden; width: 100vw;}
#home_4 .content ul li {position: relative; float: left; width: 20vw; margin: 0; padding: 5vw; border-radius: 2vw;}
#home_4 .content ul li:first-child {margin: 0 0 0 5vw;}
#home_4 .content ul li:hover {background: #f2f3f7; box-shadow: 0 3vw 5vw #D1D9E6;}
#home_4 .content ul li .text {position: relative; margin: 0 0 1vw 0; color: #90A0B7; width: 100%;}
#home_4 .content ul li .name {position: absolute; margin: 0.55vw 0 1vw 4vw; font-family: 'bold', sans-serif;}
#home_4 .content ul li .ava {position: relative; margin: 0; width: 3vw; line-height: 0;}
#home_4 .content ul li .ava img {width: 100%; border-radius: 5vw;}


#home_5 {position: relative; width: 100vw; height: auto; padding: 0;}
#home_5 .img {position: absolute; top: 7.5vw; left: 7.5vw; width: 30vw; line-height: 0; z-index: 1;}
#home_5 .img img {width: 100%;}
#home_5 .content {position: relative; width: 70vw; margin: 0 0 0 30vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw 0 0 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#home_5 .content h2 {padding: 5vw 15vw 2vw 10vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#home_5 .content ul {position: relative; overflow: hidden; margin: -3vw 0 -3vw 3vw; padding: 3vw;}
#home_5 .content ul li {position: relative; z-index: 1; float: left; margin: 0; padding: 4vw; border-radius: 1vw; color: #fff; }
#home_5 .content ul li:hover {box-shadow: 0 1vw 3vw #171C2D; background: #1D95F0; z-index: 2;}
#home_5 .content ul li:last-child {margin: 0;}
#home_5 .content .title {position: relative; font-size: 200%; margin: 0 0 1vw 0; font-family: 'light', sans-serif;}
#home_5 .content .price {position: relative; font-size: 150%; margin: 0; font-family: 'black', sans-serif;}
#home_5 .content .line {position: relative; margin: 2vw 0 3vw 0; width: 5vw; height: 0.15vw; background: #fff;}
#home_5 .content .list {position: relative; width: 10vw; margin: 0 0 1.5vw 1.5vw; font-family: 'medium', sans-serif;}
#home_5 .content .list:before {position: absolute; content: ''; width: 0.5vw; height: 0.5vw; border-radius: 1vw; background: #fff; margin: 0.35vw 0 0 -1.5vw;}
#home_5 .content .btn {position: relative; margin: 3.5vw 0 1vw 0; }
#home_5 .content .btn a {position: relative; color: #fff; background: #C0392B; padding: 0.75vw 2vw 0.9vw 2vw; border-radius: 3vw; text-decoration: none;}
#home_5 .content .btn a:hover {background: #252525;}
#home_5 .content ul li:nth-child(2) .btn a {color: #252525; background: #fff;}
#home_5 .content ul li:nth-child(2) .btn a:hover {color: #fff; background: #252525;}



#about_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#about_1 .img {position: absolute; top: 7.5vw; right: 10vw; width: 30vw; line-height: 0; z-index: 1;}
#about_1 .img img {width: 100%;}
#about_1 .img:nth-child(2) {position: absolute; top: 32.5vw; left: 7.5vw; width: 10vw; line-height: 0; z-index: 1;}
#about_1 .img img:nth-child(2) {width: 100%;}
#about_1 .content {position: relative; width: 60vw; margin: 0 25vw 0 15vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#about_1 .content h1 {padding: 5vw 15vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#about_1 .content .text {padding: 0 20vw 5vw 5vw; line-height: 1.5;}


#about_2 {position: relative; width: 100vw; height: auto; padding: 10vw 0 0 0;}
#about_2 .content {position: relative; width: 60vw; margin: 0 20vw;}
#about_2 .content h2 {position: relative; padding: 0 0 5vw 0; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#about_2 .content h2:before {position: absolute; content: 'Processing'; margin: -5vw 0 0 -22vw; text-transform: uppercase; font-size: 390%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 105vw;}
#about_2 .content .tabs {position: relative; margin: 0; z-index: 2;}
#about_2 .content .tabs > input[type="radio"] {display: none;}
#about_2 .content .tabs > div {display: none;}
#tab-btn-1:checked ~ #content-1, #tab-btn-2:checked ~ #content-2 , #tab-btn-3:checked ~ #content-3 {display: block; width: 60vw; line-height: 1.5;}
#about_2 .content .tabs > label {display: inline-block; text-align: left; vertical-align: middle; user-select: none; background: transparent; margin: 0 2.5vw 2vw 0; padding: 0 0 1vw 0; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; cursor: pointer; position: relative; transform: none; width: auto; height: auto; min-width: auto; min-height: auto; font-family: 'bold', sans-serif; font-size: 100%; color: #252525; border-bottom: 0.15vw solid #ff0000;}
#about_2 .content .tabs > label:not(:first-of-type) {border-left: none;}
#about_2 .content .tabs > input[type="radio"]:checked + label {color: #C0392B;}


#services_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#services_1 .img {position: absolute; top: 7.5vw; right: 10vw; width: 30vw; line-height: 0; z-index: 1;}
#services_1 .img img {width: 100%;}
#services_1 .img:nth-child(2) {position: absolute; top: 32.5vw; left: 7.5vw; width: 10vw; line-height: 0; z-index: 1;}
#services_1 .img img:nth-child(2) {width: 100%;}
#services_1 .content {position: relative; width: 60vw; margin: 0 25vw 0 15vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#services_1 .content h1 {padding: 5vw 15vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#services_1 .content .text {padding: 0 20vw 3.5vw 5vw; line-height: 1.5;}
#services_1 .content .btn {position: relative; margin: 0 0 5vw 5vw; display: inline-block;}
#services_1 .content .btn a {padding: 1vw 3vw; border-radius: 5vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#services_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}


#services_2 {position: relative; width: 100vw; height: auto; padding: 10vw 0 0 0;}
#services_2 .content {position: relative; width: 60vw; margin: 0 20vw;}
#services_2 .content h2 {position: relative; padding: 0 0 5vw 0; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#services_2 .content h2:before {position: absolute; content: 'Pricing'; margin: -5vw 0 0 -22vw; text-transform: uppercase; font-size: 600%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 105vw;}


#services_2 .content h3 {position: relative; z-index: 2; padding: 0; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif;}
#services_2 .content h3:nth-child(4) {padding: 5vw 0 0 0;}
#services_2 .content ul {position: relative; overflow: hidden; margin: -3vw -3vw -3vw -7vw; padding: 3vw;}
#services_2 .content ul li {position: relative; z-index: 1; float: left; margin: 0; padding: 4vw; border-radius: 1vw;}
#services_2 .content ul li:hover {box-shadow: 0 1vw 3vw #90A0B7; background: #f2f3f7; z-index: 2;}
#services_2 .content ul li:last-child {margin: 0;}
#services_2 .content .title {position: relative; font-size: 200%; margin: 0 0 1vw 0; font-family: 'light', sans-serif;}
#services_2 .content .price {position: relative; font-size: 150%; margin: 0; font-family: 'black', sans-serif;}
#services_2 .content .line {position: relative; margin: 2vw 0 3vw 0; width: 5vw; height: 0.15vw; background: #252525;}
#services_2 .content .list {position: relative; width: 11vw; margin: 0 0 1.5vw 1.5vw; font-family: 'medium', sans-serif;}
#services_2 .content .list:before {position: absolute; content: ''; width: 0.5vw; height: 0.5vw; border-radius: 1vw; background: #252525; margin: 0.35vw 0 0 -1.5vw;}
#services_2 .content .btn {position: relative; margin: 3.5vw 0 1vw 0; }
#services_2 .content .btn a {position: relative; color: #fff; background: #C0392B; padding: 0.75vw 2vw 0.9vw 2vw; border-radius: 3vw; text-decoration: none;}
#services_2 .content .btn a:hover {background: #252525;}



#client_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#client_1 .img {position: absolute; top: 7.5vw; right: 10vw; width: 30vw; line-height: 0; z-index: 1;}
#client_1 .img img {width: 100%;}
#client_1 .img:nth-child(2) {position: absolute; top: 25vw; left: 7.5vw; width: 10vw; line-height: 0; z-index: 1;}
#client_1 .img img:nth-child(2) {width: 100%;}
#client_1 .content {position: relative; width: 60vw; margin: 0 25vw 0 15vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#client_1 .content h1 {padding: 5vw 15vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#client_1 .content .text {padding: 0 20vw 3.5vw 5vw; line-height: 1.5;}
#client_1 .content .btn {position: relative; margin: 0 0 5vw 5vw; display: inline-block;}
#client_1 .content .btn a {padding: 1vw 3vw; border-radius: 5vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#client_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}

#client_2 {position: relative; width: 100vw; height: auto; padding: 10vw 0 0 0;}
#client_2 .content {position: relative; width: 100vw; margin: 0;}
#client_2 .content h2 {position: relative; padding: 0 0 2vw 20vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#client_2 .content h2:before {position: absolute; content: 'Testimonials'; margin: -5vw 0 0 -22vw; text-transform: uppercase; font-size: 500%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 105vw;}
#client_2 .content ul {position: relative; z-index: 1; margin: 0 0 -5vw 0; padding: 0 0 5vw 0; line-height: 1.5; overflow: hidden; width: 100vw;}
#client_2 .content ul li {position: relative; float: left; width: 20vw; margin: 0; padding: 5vw; border-radius: 2vw;}
#client_2 .content ul li:first-child {margin: 0 0 0 5vw;}
#client_2 .content ul li:hover {background: #f2f3f7; box-shadow: 0 3vw 5vw #D1D9E6;}
#client_2 .content ul li .text {position: relative; margin: 0 0 1vw 0; color: #90A0B7; width: 100%;}
#client_2 .content ul li .name {position: absolute; margin: 0.55vw 0 1vw 4vw; font-family: 'bold', sans-serif;}
#client_2 .content ul li .ava {position: relative; margin: 0; width: 3vw; line-height: 0;}
#client_2 .content ul li .ava img {width: 100%; border-radius: 5vw;}


#how_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#how_1 .img {position: absolute; top: 7.5vw; right: 10vw; width: 30vw; line-height: 0; z-index: 1;}
#how_1 .img img {width: 100%;}
#how_1 .img:nth-child(2) {position: absolute; top: 32.5vw; left: 7.5vw; width: 10vw; line-height: 0; z-index: 1;}
#how_1 .img img:nth-child(2) {width: 100%;}
#how_1 .content {position: relative; width: 60vw; margin: 0 25vw 0 15vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#how_1 .content h1 {padding: 5vw 15vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}

#how_1 .content .video {position: relative; width: 50vw; height: auto; z-index: 0; margin: 0 5vw 5vw 5vw; display: inline-block; }
#how_1 .content .video video {position: relative; left: 0; top: 0; height: auto; width: 50vw; display: block; }




#pi_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#pi_1 .content {position: relative; width: 60vw; margin: 0 20vw 0 20vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#pi_1 .content h1 {padding: 5vw 5vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#pi_1 .content h3 {padding: 0 5vw 3.5vw 5vw; text-transform: uppercase; font-size: 150%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#pi_1 .content .text {padding: 0 5vw 5vw 5vw; line-height: 1.5;}


#pi_2 {position: relative; width: 100vw; height: auto; padding: 10vw 0 0 0;}
#pi_2 .content {position: relative; width: 60vw; margin: 0 20vw;}
#pi_2 .content h2 {position: relative; padding: 0 0 2vw 0; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#pi_2 .content ul {position: relative; z-index: 1; padding: 0; line-height: 1.5; overflow: hidden;}
#pi_2 .content ul li {position: relative; float: none; width: auto; margin: 0 0 1vw 1.5vw;}
#pi_2 .content ul li:before {position: absolute; content: '-'; margin: 0 0 0 -1.5vw} 


#tc_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#tc_1 .content {position: relative; width: 60vw; margin: 0 20vw 0 20vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#tc_1 .content h1 {padding: 5vw 5vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#tc_1 .content .text {padding: 0 5vw 5vw 5vw; line-height: 1.5;}


#tc_2 {position: relative; width: 100vw; height: auto; padding: 5vw 0 0 0;}
#tc_2 .content {position: relative; width: 60vw; margin: 0 20vw; line-height: 1.5;}

#countries_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#countries_1 .content {position: relative; width: 60vw; margin: 0 20vw 0 20vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#countries_1 .content h1 {padding: 5vw 5vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#countries_1 .content .text {padding: 0 5vw 5vw 5vw; line-height: 1.5;}


#countries_2 {position: relative; width: 100vw; height: auto; padding: 5vw 0 0 0;}
#countries_2 .content {position: relative; width: 60vw; margin: 0 20vw; line-height: 1.5; column-count: 4; column-gap: 4%;}



#faq_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#faq_1 .content {position: relative; width: 60vw; margin: 0 20vw 0 20vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#faq_1 .content h1 {padding: 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}

#faq_2 {position: relative; width: 100vw; height: auto; padding: 5vw 0 0 0;}
#faq_2 .content {position: relative; width: 50vw; margin: 0 25vw; line-height: 1.5;}



#work_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#work_1 .content {position: relative; width: 60vw; margin: 0 20vw 0 20vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#work_1 .content h1 {padding: 5vw 15vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#work_1 .content .text {padding: 0 20vw 3.5vw 5vw; line-height: 1.5;}
#work_1 .content .btn {position: relative; margin: 0 0 5vw 5vw; display: inline-block;}
#work_1 .content .btn a {padding: 1vw 3vw; border-radius: 5vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#work_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}



#work_1 .content .form {position: relative; margin: 5vw 0 0 5vw;}
#work_1 .content .form .line {position: relative; margin: 0 0 2vw 0;}
#work_1 .content .form .line .name {position: absolute; margin: -1.15vw 0 0 1.15vw; font-size: 75%; font-family: 'medium', sans-serif; z-index: 2;}
#work_1 .content .form .line .input {position: relative; margin: 0; padding: 0; z-index: 1;}
#work_1 .content .form .line .input input {margin: 0; padding: 0.75vw 2vw; border: 0.15vw solid #fff; border-radius: 1vw; background: transparent; width: 45vw; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); color: #fff;}
#work_1 .content .form .line .input input:focus {border: 0.15vw solid #C0392B;}
#work_1 .content .form .line select.select {margin: 0; padding: 0.75vw 2vw 0.9vw 2vw; color: #fff; border: 0.15vw solid #fff; border-radius: 1vw; background: transparent; width: 49vw; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#work_1 .content .form .line select.select option {color: #000; background: #fff; font-size: 75%;}
#work_1 .content .form .btn {position: relative; margin: 2vw 0 5vw 0; padding: 0;}
#work_1 .content .form .btn input {position: relative; color: #fff; background: #C0392B; margin: 0; padding: 0.5vw 2vw 0.75vw 2vw; border-radius: 1vw; text-decoration: none; border: none; font-family: 'bold', sans-serif; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#work_1 .content .form .btn input:hover {background: #252525;}



#sign_1 {position: relative; width: 100vw; height: auto; padding: 12.5vw 0 0 0;}
#sign_1 .content {position: relative; width: 60vw; margin: 0 20vw 0 20vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#sign_1 .content h1 {padding: 5vw 15vw 2vw 5vw; text-transform: uppercase; font-size: 400%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#sign_1 .content .text {padding: 0 20vw 3.5vw 5vw; line-height: 1.5;}
#sign_1 .content .btn {position: relative; margin: 0 0 5vw 5vw; display: inline-block;}
#sign_1 .content .btn a {padding: 1vw 3vw; border-radius: 5vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#sign_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}



#sign_1 .content .form {position: relative; margin: 5vw 0 0 5vw;}
#sign_1 .content .form .line {position: relative; margin: 0 0 2vw 0;}
#sign_1 .content .form .line .name {position: absolute; margin: -1.15vw 0 0 1.15vw; font-size: 75%; font-family: 'medium', sans-serif; z-index: 2;}
#sign_1 .content .form .line .input {position: relative; margin: 0; padding: 0; z-index: 1;}
#sign_1 .content .form .line .input input {margin: 0; padding: 0.75vw 2vw; border: 0.15vw solid #fff; border-radius: 1vw; background: transparent; width: 45vw; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); color: #fff;}
#sign_1 .content .form .line .input input:focus {border: 0.15vw solid #C0392B;}
#sign_1 .content .form .line select.select {margin: 0; padding: 0.75vw 2vw 0.9vw 2vw; color: #fff; border: 0.15vw solid #fff; border-radius: 1vw; background: transparent; width: 49vw; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#sign_1 .content .form .line select.select option {color: #000; background: #fff; font-size: 75%;}
#sign_1 .content .form .btn {position: relative; margin: 2vw 0 5vw 0; padding: 0;}
#sign_1 .content .form .btn input {position: relative; color: #fff; background: #C0392B; margin: 0; padding: 0.5vw 2vw 0.75vw 2vw; border-radius: 1vw; text-decoration: none; border: none; font-family: 'bold', sans-serif; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#sign_1 .content .form .btn input:hover {background: #252525;}






.accordion {margin: 0; margin-bottom: 1.5rem; padding: 0; list-style: none; }
.accordion_item {border-bottom: 1px solid #5a95fd;}
.accordion_item:last-of-type {border-bottom: none;}
.accordion_trigger {display: block; background-color: #007ccf; color: #ddd; font-weight: normal; cursor: pointer; padding: 1.2em;}
.accordion_toggle:checked ~ .accordion_trigger {background-color: #005d9c;}
.accordion_toggle {position: absolute; display: none;}
.accordion_target {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; background-color: #ddd;
  color: #444;}
.accordion_toggle:checked ~ .accordion_target {position: static; overflow: visible; clip: auto; margin: auto; padding: 1.2rem; width: auto; height: auto;}
@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}







footer {position: relative; margin: 10vw 10vw 0 10vw; padding: 5vw 0; border-top: 0.05vw solid #6DD3FE; font-size: 75%; overflow: hidden;}
footer nav {position: relative; float: left; margin: 0;}
footer nav ul.nav_list {position: relative;}
footer nav ul.nav_list li {position: relative; float: none; margin: 0 0 0.25vw 0;}
footer nav ul.nav_list li:nth-child(7) {margin: 0 0 3vw 0;}
footer nav ul.nav_list li:nth-child(7) a {color: #C0392B;}
footer nav ul.nav_list li a {color: #252525; text-decoration: none; font-family: 'medium', sans-serif; line-height: 2;}
footer nav ul.nav_list li a:hover {color: #C0392B;}
footer .contact {position: relative; float: left; margin: 0 0 0 10vw;}
footer h2 {position: relative; font-size: 150%; font-family: 'bold', sans-serif; margin: 0 0 1vw 0;}
footer .contact .text {position: relative; margin: 0 0 2vw 0; width: 15vw; line-height: 1.5; }
footer .contact .contacts {position: relative; margin: 0; width: 15vw; line-height: 1.5;}
footer .info {position: relative; float: left; margin: 0 0 0 10vw; width: 25vw; line-height: 1.5;}
footer .copy {position: absolute; bottom: 2vw; right: 0;}


}


@media all and (max-width: 800px) {


body {font-size: 4vw; line-height: 1;}


header {position: fixed; width: 100vw; height: 25vw; background: transparent; z-index: 100;}
header.small {background: #fff; height: 12vw;}
header .logo {position: relative; float: left; margin: 10vw 0 0 5vw; width: auto; font-size: 175%; font-family: 'black', sans-serif;}
header.small .logo {margin: 2.5vw 0 0 5vw;}
header .logo a {color: #C0392B; text-decoration: none;}
header .logo a span {color: #252525;}
header .logo a:hover {color: #252525;}
header .logo a:hover span {color: #C0392B;}
header nav .burger {position: absolute; z-index: 999; display: block; top: 10vw; right: 5vw; cursor: pointer; width: 7.5vw; height: 7.5vw;}
header.small nav .burger {top: 2.5vw;}
header nav .burger_icon {position: relative; display: block; width: 7.5vw; height: 0.4vw; margin: 3.5vw 0 0 0; background: #000; transition: all .2s ease-in-out;}
header nav .burger_icon::before, header nav .burger_icon::after {content: ''; position: absolute; background: #000; height: 0.4vw; transition: all .2s ease-in-out;}
header nav .burger_icon::before {width: 5vw; top: -2vw; left: 2.5vw}
header nav .burger_icon::after {width: 2.5vw; top: 2vw; left: 5vw;}
header nav .burger_active .burger_icon {background: transparent;}
header nav .burger_active .burger_icon::before {transform: rotate(135deg); top: 0; width: 7.5vw; left: 0;}
header nav .burger_active .burger_icon::after {transform: rotate(-135deg); top: 0; width: 7.5vw; left: 0;}
header nav .nav_list {z-index: 1; position: fixed; top: -100%; left: 0; width: 100%; height: 100%; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; overflow: hidden; flex-direction: column; background: #fff; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
header nav .nav_list_open {top: 0;}
header nav ul.nav_list li {position: relative; margin: 0 0 2vw 10vw;}
header nav ul.nav_list li:nth-child(1) {margin: 10vw 0 0 10vw;}
header nav ul.nav_list li:nth-child(7) {margin: 0 0 10vw 10vw;}
header nav ul.nav_list li:nth-child(7) a {color: #C0392B;}
header nav ul.nav_list li a {color: #252525; text-decoration: none; font-family: 'medium', sans-serif; line-height: 2;}
header nav ul.nav_list li a:hover {color: #C0392B;}


#home_1 {position: relative; width: 100vw; height: auto; padding: 50vw 0 0 0; overflow: hidden;}
#home_1 .img {position: absolute; top: 30vw; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#home_1 .img img {width: 100%;}
#home_1 .img:nth-child(2) {position: absolute; top: 40vw; left: 10vw; width: 15vw; line-height: 0; z-index: 1;}
#home_1 .img img:nth-child(2) {width: 100%;}
#home_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#home_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#home_1 .content .text {padding: 0 20vw 10vw 5vw; line-height: 1.5;}
#home_1 .content .btn {position: relative; margin: 0 0 15vw 5vw; display: inline-block;}
#home_1 .content .btn a {padding: 2.5vw 7.5vw; border-radius: 15vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#home_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}


#home_2 {position: relative; width: 100vw; height: auto; padding: 25vw 0; overflow: hidden;}
#home_2 .content {position: relative; width: 80vw; margin: 0 10vw;}
#home_2 .content h2 {position: relative; padding: 0 0 10vw 0; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#home_2 .content h2:before {position: absolute; content: 'About us'; margin: -10vw 0 0 -10vw; text-transform: uppercase; font-size: 210%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 100vw;}
#home_2 .content ul {position: relative; z-index: 1; padding: 0; line-height: 1.5; overflow: hidden;}
#home_2 .content ul li {position: relative; float: none; width: 70vw; margin: 0 0 5vw 0;}
#home_2 .content ul li:last-child {margin: 0;}


#home_3 {position: relative; width: 100vw; height: auto; margin: -15vw 0; padding: 15vw 0; overflow: hidden;}
#home_3 .img {position: absolute; top: 0; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#home_3 .img img {width: 100%;}
#home_3 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #91BF2E, #4C903C); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#home_3 .content h2 {padding: 15vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #4C903C;}
#home_3 .content .btn {position: relative; margin: 10vw 0 15vw 5vw; display: inline-block;}
#home_3 .content .btn a {padding: 2.5vw 7.5vw; border-radius: 15vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#home_3 .content .btn a:hover {background: #91BF2E; color: #fff;}
#home_3 .content ul {position: relative; z-index: 1; margin: 0 0 0 5vw; padding: 0; line-height: 1.5; overflow: hidden;}
#home_3 .content ul li {position: relative; float: none; width: auto; margin: 0 0 5vw 20vw;}
#home_3 .content ul li:last-child {margin: 0 0 0 20vw;}
#home_3 .content ul li .img {position: absolute; width: 10vw; line-height: 0; margin: 1vw 0 1vw -13vw; padding: 0; left: 0; right: 0; top: 0;}
#home_3 .content ul li .img img {width: 100%;}


#home_4 {position: relative; width: 100vw; height: auto; padding: 25vw 0; overflow: hidden;}
#home_4 .content {position: relative; width: 100vw; margin: 0;}
#home_4 .content h2 {position: relative; padding: 0 0 5vw 10vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#home_4 .content h2:before {position: absolute; content: 'Testimonials'; margin: -10vw 0 0 -10vw; text-transform: uppercase; font-size: 147%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 100vw;}
#home_4 .content ul {position: relative; z-index: 1; margin: 0; padding: 0; line-height: 1.5; overflow: hidden; width: 100vw;}
#home_4 .content ul li {position: relative; float: none; width: 80vw; margin: 5vw 0 5vw 10vw; padding: 5vw 0; border-bottom: 0.05vw solid #6DD3FE;}
#home_4 .content ul li .text {position: relative; margin: 0 0 5vw 0; color: #90A0B7; width: 100%;}
#home_4 .content ul li .name {position: absolute; margin: 2vw 0 0 13vw; font-family: 'bold', sans-serif;}
#home_4 .content ul li .ava {position: relative; margin: 0; width: 10vw; line-height: 0;}
#home_4 .content ul li .ava img {width: 100%; border-radius: 15vw;}
#home_4 .content ul li:last-child {border-bottom: none; margin: 5vw 0 0 10vw; padding: 5vw 0 0 0;}


#home_5 {position: relative; width: 100vw; height: auto; margin: -15vw 0; padding: 15vw 0; overflow: hidden;}
#home_5 .img {position: absolute; top: 0; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#home_5 .img img {width: 100%;}
#home_5 .content {position: relative; width: 90vw; margin: 0 0 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#home_5 .content h2 {padding: 10vw 0 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#home_5 .content ul {position: relative; overflow: hidden; margin: 0; padding: 0;}
#home_5 .content ul li {position: relative; z-index: 1; float: none; margin: 5vw; padding: 5vw 0; color: #fff; border-bottom: 0.05vw solid #3C76BF;}
#home_5 .content ul li:first-child {margin: 0 5vw 5vw 5vw; padding: 5vw 0 0 0;}
#home_5 .content ul li:last-child {border-bottom: none; margin: 5vw 0 15vw 5vw; padding: 5vw 0 0 0;}
#home_5 .content .title {position: relative; font-size: 200%; margin: 0 0 1.5vw 0; font-family: 'light', sans-serif;}
#home_5 .content .price {position: relative; font-size: 150%; margin: 0; font-family: 'black', sans-serif;}
#home_5 .content .line {position: relative; margin: 2.5vw 0 5vw 0; width: 25vw; height: 0.25vw; background: #fff;}
#home_5 .content .list {position: relative; width: 80vw; margin: 0 0 2.5vw 2.5vw; font-family: 'medium', sans-serif;}
#home_5 .content .list:before {position: absolute; content: ''; width: 1vw; height: 1vw; border-radius: 2vw; background: #fff; margin: 1.5vw 0 0 -2.5vw;}
#home_5 .content .btn {position: relative; margin: 7.5vw 0 10vw 0; }
#home_5 .content .btn a {position: relative; color: #252525; background: #fff; padding: 2.5vw 7.5vw; border-radius: 15vw; text-decoration: none;}
#home_5 .content .btn a:hover {background: #252525; color: #fff;}



#about_1 {position: relative; width: 100vw; height: auto; padding: 50vw 0 0 0; overflow: hidden;}
#about_1 .img {position: absolute; top: 30vw; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#about_1 .img img {width: 100%;}
#about_1 .img:nth-child(2) {position: absolute; top: 40vw; left: 10vw; width: 15vw; line-height: 0; z-index: 1;}
#about_1 .img img:nth-child(2) {width: 100%;}
#about_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#about_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#about_1 .content .text {padding: 0 20vw 10vw 5vw; line-height: 1.5;}


#about_2 {position: relative; width: 100vw; height: auto; padding: 25vw 0;}
#about_2 .content {position: relative; width: 80vw; margin: 0 10vw;}
#about_2 .content h2 {position: relative; padding: 0 0 10vw 0; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#about_2 .content h2:before {position: absolute; content: 'Processing'; margin: -10vw 0 0 -10vw; text-transform: uppercase; font-size: 164%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 100vw;}
#about_2 .content .tabs {position: relative; margin: 0; z-index: 2;}
#about_2 .content .tabs > input[type="radio"] {display: none;}
#about_2 .content .tabs > div {display: none;}
#tab-btn-1:checked ~ #content-1, #tab-btn-2:checked ~ #content-2 , #tab-btn-3:checked ~ #content-3 {display: block; width: 60vw; line-height: 1.5;}
#about_2 .content .tabs > label {display: inline-block; text-align: left; vertical-align: middle; user-select: none; background: transparent; margin: 0 0 5vw 0; padding: 0 0 5vw 0; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; cursor: pointer; position: relative; transform: none; width: auto; height: auto; min-width: auto; min-height: auto; font-family: 'bold', sans-serif; font-size: 100%; color: #252525; border-bottom: 0.15vw solid #ff0000;}
#about_2 .content .tabs > label:not(:first-of-type) {border-left: none;}
#about_2 .content .tabs > input[type="radio"]:checked + label {color: #C0392B;}



#services_1 {position: relative; width: 100vw; height: auto; padding: 50vw 0 0 0; overflow: hidden;}
#services_1 .img {position: absolute; top: 30vw; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#services_1 .img img {width: 100%;}
#services_1 .img:nth-child(2) {position: absolute; top: 40vw; left: 10vw; width: 15vw; line-height: 0; z-index: 1;}
#services_1 .img img:nth-child(2) {width: 100%;}
#services_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#services_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#services_1 .content .text {padding: 0 20vw 10vw 5vw; line-height: 1.5;}
#services_1 .content .btn {position: relative; margin: 0 0 15vw 5vw; display: inline-block;}
#services_1 .content .btn a {padding: 2.5vw 7.5vw; border-radius: 15vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#services_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}


#services_2 {position: relative; width: 100vw; height: auto; margin: 0; padding: 25vw 0 0 0; overflow: hidden;}
#services_2 .content {position: relative; width: 80vw; margin: 0 0 0 10vw;}
#services_2 .content h2 {padding: 0 0 5vw 0; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#services_2 .content h3 {padding: 0 0 5vw 0; text-transform: uppercase; font-size: 150%; font-family: 'black', sans-serif; color: #C0392B;}

#services_2 .content ul {position: relative; overflow: hidden; margin: 0; padding: 0;}
#services_2 .content ul li {position: relative; z-index: 1; float: none; margin: 5vw 0; padding: 5vw 0; border-bottom: 0.05vw solid #3C76BF;}
#services_2 .content ul li:first-child {margin: 0 0 5vw 0; padding: 5vw 0 0 0;}
#services_2 .content ul li:last-child {border-bottom: none; margin: 5vw 0 15vw 0; padding: 5vw 0 0 0;}
#services_2 .content .title {position: relative; font-size: 200%; margin: 0 0 1.5vw 0; font-family: 'light', sans-serif;}
#services_2 .content .price {position: relative; font-size: 150%; margin: 0; font-family: 'black', sans-serif;}
#services_2 .content .line {position: relative; margin: 2.5vw 0 5vw 0; width: 25vw; height: 0.25vw; background: #252525;}
#services_2 .content .list {position: relative; width: 80vw; margin: 0 0 2.5vw 2.5vw; font-family: 'medium', sans-serif;}
#services_2 .content .list:before {position: absolute; content: ''; width: 1vw; height: 1vw; border-radius: 2vw; background: #252525; margin: 1.5vw 0 0 -2.5vw;}
#services_2 .content .btn {position: relative; margin: 7.5vw 0 10vw 0; }
#services_2 .content .btn a {position: relative; color: #fff; background: #C0392B; padding: 2.5vw 7.5vw; border-radius: 15vw; text-decoration: none;}
#services_2 .content .btn a:hover {background: #252525; color: #fff;}



#client_1 {position: relative; width: 100vw; height: auto; padding: 50vw 0 0 0; overflow: hidden;}
#client_1 .img {position: absolute; top: 30vw; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#client_1 .img img {width: 100%;}
#client_1 .img:nth-child(2) {position: absolute; top: 40vw; left: 10vw; width: 15vw; line-height: 0; z-index: 1;}
#client_1 .img img:nth-child(2) {width: 100%;}
#client_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#client_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#client_1 .content .text {padding: 0 20vw 10vw 5vw; line-height: 1.5;}
#client_1 .content .btn {position: relative; margin: 0 0 15vw 5vw; display: inline-block;}
#client_1 .content .btn a {padding: 2.5vw 7.5vw; border-radius: 15vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#client_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}



#client_2 {position: relative; width: 100vw; height: auto; padding: 25vw 0 0 0; overflow: hidden;}
#client_2 .content {position: relative; width: 100vw; margin: 0;}
#client_2 .content h2 {position: relative; padding: 0 0 5vw 10vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#client_2 .content h2:before {position: absolute; content: 'Testimonials'; margin: -10vw 0 0 -10vw; text-transform: uppercase; font-size: 147%; font-family: 'black', sans-serif; color: #f2f3f7; z-index: -1; text-shadow: 0 3vw 5vw #D1D9E6; width: 100vw;}
#client_2 .content ul {position: relative; z-index: 1; margin: 0; padding: 0; line-height: 1.5; overflow: hidden; width: 100vw;}
#client_2 .content ul li {position: relative; float: none; width: 80vw; margin: 5vw 0 5vw 10vw; padding: 5vw 0; border-bottom: 0.05vw solid #6DD3FE;}
#client_2 .content ul li .text {position: relative; margin: 0 0 5vw 0; color: #90A0B7; width: 100%;}
#client_2 .content ul li .name {position: absolute; margin: 2vw 0 0 13vw; font-family: 'bold', sans-serif;}
#client_2 .content ul li .ava {position: relative; margin: 0; width: 10vw; line-height: 0;}
#client_2 .content ul li .ava img {width: 100%; border-radius: 15vw;}
#client_2 .content ul li:last-child {border-bottom: none; margin: 5vw 0 0 10vw; padding: 5vw 0 0 0;}




#how_1 {position: relative; width: 100vw; height: auto; padding: 50vw 0 0 0; overflow: hidden;}
#how_1 .img {position: absolute; top: 30vw; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#how_1 .img img {width: 100%;}
#how_1 .img:nth-child(2) {position: absolute; top: 40vw; left: 10vw; width: 15vw; line-height: 0; z-index: 1;}
#how_1 .img img:nth-child(2) {width: 100%;}
#how_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#how_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#how_1 .content .video {position: relative; width: 80vw; height: auto; z-index: 0; margin: 0 5vw 10vw 5vw; display: inline-block; }
#how_1 .content .video video {position: relative; left: 0; top: 0; height: auto; width: 80vw; display: block; }



#pi_1 {position: relative; width: 100vw; height: auto; padding: 30vw 0 0 0;}
#pi_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#pi_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#pi_1 .content h3 {padding: 0 5vw 10vw 5vw; text-transform: uppercase; font-size: 150%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#pi_1 .content .text {padding: 0 5vw 5vw 5vw; line-height: 1.5;}


#pi_2 {position: relative; width: 100vw; height: auto; padding: 25vw 0 0 0;}
#pi_2 .content {position: relative; width: 80vw; margin: 0 10vw;}
#pi_2 .content h2 {position: relative; padding: 0 0 5vw 0; text-transform: uppercase; font-size: 150%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #252525; color: #C0392B; z-index: 1;}
#pi_2 .content ul {position: relative; z-index: 1; padding: 0; line-height: 1.5; overflow: hidden;}
#pi_2 .content ul li {position: relative; float: none; width: auto; margin: 0 0 1vw 3vw;}
#pi_2 .content ul li:before {position: absolute; content: '-'; margin: 0 0 0 -3vw} 


#tc_1 {position: relative; width: 100vw; height: auto; padding: 30vw 0 0 0;}
#tc_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#tc_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#tc_1 .content .text {padding: 0 5vw 5vw 5vw; line-height: 1.5;}


#tc_2 {position: relative; width: 100vw; height: auto; padding: 25vw 0 0 0;}
#tc_2 .content {position: relative; width: 80vw; margin: 0 10vw; line-height: 1.5;}




#countries_1 {position: relative; width: 100vw; height: auto; padding: 30vw 0 0 0;}
#countries_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#countries_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#countries_1 .content .text {padding: 0 5vw 5vw 5vw; line-height: 1.5;}


#countries_2 {position: relative; width: 100vw; height: auto; padding: 20vw 0 0 0;}
#countries_2 .content {position: relative; width: 80vw; margin: 0 10vw; line-height: 1.5; column-count: 2; column-gap: 4%;}


#faq_1 {position: relative; width: 100vw; height: auto; padding: 30vw 0 0 0;}
#faq_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 2vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#faq_1 .content h1 {padding: 10vw 5vw; text-transform: uppercase; font-size: 250%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}

#faq_2 {position: relative; width: 100vw; height: auto; padding: 15vw 0 0 0;}
#faq_2 .content {position: relative; width: 80vw; margin: 0 10vw; line-height: 1.5;}



#work_1 {position: relative; width: 100vw; height: auto; padding: 35vw 0 0 0; overflow: hidden;}
#work_1 .img {position: absolute; top: 30vw; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#work_1 .img img {width: 100%;}
#work_1 .img:nth-child(2) {position: absolute; top: 40vw; left: 10vw; width: 15vw; line-height: 0; z-index: 1;}
#work_1 .img img:nth-child(2) {width: 100%;}
#work_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#work_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 200%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#work_1 .content .text {padding: 0 20vw 10vw 5vw; line-height: 1.5;}
#work_1 .content .btn {position: relative; margin: 0 0 15vw 5vw; display: inline-block;}
#work_1 .content .btn a {padding: 2.5vw 7.5vw; border-radius: 15vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#work_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}


#work_1 .content .form {position: relative; margin: 5vw 0 0 5vw;}
#work_1 .content .form .line {position: relative; margin: 0 0 7.5vw 0;}
#work_1 .content .form .line .name {position: absolute; margin: -4vw 0 0 2.5vw; padding: 0; font-size: 75%; font-family: 'medium', sans-serif; z-index: 2;}
#work_1 .content .form .line .input {position: relative; margin: 0; padding: 0; z-index: 1;}
#work_1 .content .form .line .input input {margin: 0; padding: 2vw 5vw; border: 0.4vw solid #fff; border-radius: 10vw; background: transparent; width: 65vw; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#work_1 .content .form .line .input input:focus {border: 0.4vw solid #C0392B;}
#work_1 .content .form .btn {position: relative; margin: 0 0 10vw 0; padding: 0;}
#work_1 .content .form .btn input {position: relative; color: #fff; background: #C0392B; margin: 0; padding: 2vw 5vw 2.5vw 5vw; border-radius: 10vw; text-decoration: none; border: none; font-family: 'bold', sans-serif; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#work_1 .content .form .btn input:hover {background: #252525;}
#work_1 .content .form .line select.select {margin: 0; padding: 2vw 5vw; color: #fff; border: 0.4vw solid #fff; border-radius: 10vw; background: transparent; width: 76vw; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#work_1 .content .form .line select.select option {color: #000; background: #fff; font-size: 75%;}




#sign_1 {position: relative; width: 100vw; height: auto; padding: 35vw 0 0 0; overflow: hidden;}
#sign_1 .img {position: absolute; top: 30vw; right: -10vw; width: 50vw; line-height: 0; z-index: 1;}
#sign_1 .img img {width: 100%;}
#sign_1 .img:nth-child(2) {position: absolute; top: 40vw; left: 10vw; width: 15vw; line-height: 0; z-index: 1;}
#sign_1 .img img:nth-child(2) {width: 100%;}
#sign_1 .content {position: relative; width: 90vw; margin: 0 5vw; background: linear-gradient(180deg, #6DD3FE, #1D95F0); border-radius: 5vw; color: #fff; box-shadow: 0 1vw 4vw #D1D9E6;}
#sign_1 .content h1 {padding: 10vw 5vw 5vw 5vw; text-transform: uppercase; font-size: 200%; font-family: 'black', sans-serif; text-shadow: 2px 2px 2px #1D95F0;}
#sign_1 .content .text {padding: 0 20vw 10vw 5vw; line-height: 1.5;}
#sign_1 .content .btn {position: relative; margin: 0 0 15vw 5vw; display: inline-block;}
#sign_1 .content .btn a {padding: 2.5vw 7.5vw; border-radius: 15vw; color: #252525; background: #fff; text-decoration: none; font-family: 'bold', sans-serif;}
#sign_1 .content .btn a:hover {background: #6DD3FE; color: #fff;}


#sign_1 .content .form {position: relative; margin: 5vw 0 0 5vw;}
#sign_1 .content .form .line {position: relative; margin: 0 0 7.5vw 0;}
#sign_1 .content .form .line .name {position: absolute; margin: -4vw 0 0 2.5vw; padding: 0; font-size: 75%; font-family: 'medium', sans-serif; z-index: 2;}
#sign_1 .content .form .line .input {position: relative; margin: 0; padding: 0; z-index: 1;}
#sign_1 .content .form .line .input input {margin: 0; padding: 2vw 5vw; border: 0.4vw solid #fff; border-radius: 10vw; background: transparent; width: 65vw; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#sign_1 .content .form .line .input input:focus {border: 0.4vw solid #C0392B;}
#sign_1 .content .form .btn {position: relative; margin: 0 0 10vw 0; padding: 0;}
#sign_1 .content .form .btn input {position: relative; color: #fff; background: #C0392B; margin: 0; padding: 2vw 5vw 2.5vw 5vw; border-radius: 10vw; text-decoration: none; border: none; font-family: 'bold', sans-serif; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#sign_1 .content .form .btn input:hover {background: #252525;}
#sign_1 .content .form .line select.select {margin: 0; padding: 2vw 5vw; color: #fff; border: 0.4vw solid #fff; border-radius: 10vw; background: transparent; width: 76vw; font-size: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
#sign_1 .content .form .line select.select option {color: #000; background: #fff; font-size: 75%;}


.accordion {margin: 0; margin-bottom: 1.5rem; padding: 0; list-style: none; }
.accordion_item {border-bottom: 1px solid #5a95fd;}
.accordion_item:last-of-type {border-bottom: none;}
.accordion_trigger {display: block; background-color: #007ccf; color: #ddd; font-weight: normal; cursor: pointer; padding: 1.2em;}
.accordion_toggle:checked ~ .accordion_trigger {background-color: #005d9c;}
.accordion_toggle {position: absolute; display: none;}
.accordion_target {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; background-color: #ddd;
  color: #444;}
.accordion_toggle:checked ~ .accordion_target {position: static; overflow: visible; clip: auto; margin: auto; padding: 1.2rem; width: auto; height: auto;}
@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}


footer {position: relative; margin: 25vw 20vw; padding: 0; font-size: 75%;}
footer nav {display: none;}
footer .contact {position: relative; margin: 0;}
footer h2 {position: relative; font-size: 125%; font-family: 'bold', sans-serif; margin: 0 0 2.5vw 0;}
footer .contact .text {position: relative; margin: 0 0 5vw 0; width: 60vw; line-height: 1.5; }
footer .contact .contacts {position: relative; margin: 0 0 10vw 0; width: 60vw; line-height: 1.5;}
footer .info {position: relative; margin: 0; width: 60vw; line-height: 1.5;}
footer .copy {position: relative; margin: 0 0 10vw 0; font-size: 80%;}


}